<header class="container-fluid cambio">
     
    <div class="d-flex flex-nowrap align-items-center">
        <a class="px-3" href="#"><img class="logo" src="../../../assets/brand/logo.png" alt="logo Guaubi Sabi"></a>
        <a class="text" href="#">handmade solidario para los amantes de los animales</a>
    </div>
    <div>    
        <a               [routerLink]="['Registrarme']" target="blank"><fa-icon [icon]="iconUser" size="md"></fa-icon></a>
        <a class="px-3"  href="#" target="blank"><fa-icon [icon]="iconCart" size="md"></fa-icon></a>
    </div>  
     
</header>
