<section class="fondo py-5">
    <div class="texto pt-5">
        <h1>HANDMADE 100% SOLIDARIO</h1>
        <p>Si eres protectora, asociación o rescatista y necesitas que te echemos una patita para <strong> ayudar a los animales</strong>, contáctanos.</p>
        <p><span class="destacar">¿Qué puede hacer Guaubi Sabi para ayudar?</span> Además de ayudar económicamente con la venta de <strong>productos solidarios</strong>, somos amantes de los animales, y estaremos encantados de ayudar a aquellos peludos que aún no han tenido la suerte de tener una familia, por lo que:</p>
        <ul> 
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si necesitas <strong>productos para un stand solidario</strong> o alguna feria animalista, contáctanos.</li>
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si necesitas <strong>transporte solidario por Barcelona</strong> o alrededores, contáctanos.</li>
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si quieres hacer alguna <strong>colaboración</strong> con nosotros para poner a la venta handmade con alguna frase pro adopción, el logo de la prote o cualquier otra cosa, contactanos también.</li>
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si tienes algún perro que necesita <strong>acogida temporal</strong>, podemos ayudarte.</li>
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si necesitas hacer unas fotos chulas de los peludetes de tu prote para un calendario o simplemente, para que tengan más posibilidades de ser adoptados, contáctanos porque también te podemos ayudar.</li>
            <li> <fa-icon [icon]="iconBone" size="xs" transform="rotate-45" [fixedWidth]="true"></fa-icon> Si tienes algún perro en acogida, y usas arnés Julius, te <strong>donamos etiquetas</strong> de velcro con el texto: <b>"¿ME ADOPTAS?"</b> para que todo el mundo sepa que está en adopción durante los paseos. Nunca se sabe dónde os podéis encontrar a su futura familia.</li>
        </ul>
    </div>
</section>

