<section>
    <div class="zoom">
        <img src="../../../../assets/img/leroy_portada_zoom.jpg"  alt="Braco alemán">
    </div>
    <div class= "texto">
        <img src="../../../../assets/img/letras-blanco-GuaubiSabi.png" alt="Letras Guaubi Sabi">
        <p>Wabi Sabi es un pensamiento de origen japonés donde subyace la idea del arte de ver la belleza de lo imperfecto.</p>
        <p>Nosotros, al arte de ver la belleza en los perretes “imperfectos” le hemos llamado: Guaubi Sabi. La filosofía Guaubi Sabi promueve la adopción responsable de perretes, en especial, de aquellos con alguna tara.</p>
    </div>
</section>
 