
<section class="container-fluid pb-5">
   <h1>Visita nuestra tienda online</h1>
    <div class="row">
        <div class="div1 col">
           <p>MASCARILLAS</p>
        </div>
        <div class="div1 col">
            <p>DISPENSADORES</p>
         </div>
         <div class="div1 col">
            <p>BOLSAS DE CHUCHES</p>
         </div >
         <div class="div1 col">
            <p>ETIQUETAS ARNÉS</p>
         </div>
         <div class="div1 col">
            <p>MONEDEROS</p>
         </div>
    </div>
</section>
